# Dependencies
node_modules/

# Logs
*.log
.sync.log
.sync.log.*
*.gz

# Caches & temps
.cache/
.tmp/
tmp/
dist/
build/
coverage/

# OS files
.DS_Store
Thumbs.db

# Env & local configs
.env
.env.local
*.local

# Editors & IDE
.vscode/
.idea/
*.swp
*~   # backup editor

# System
*.bak
*.orig
